# ========================= #
# ======== Dev Envs ======= #
# ========================= #
.github
.vscode
.vs
.idea
.pytest_cache
__pycache__


# ========================= #
# ========== Pkg ========== #
# ========================= #
.egg
.wheel